# We don't want the dependencies; Use `npm install` and `bower install` to get them.
node_modules
public/components
public/css/main.css
public/css/main.map
TODO.txt # Developers can store notes for what they plan to do here without committing to repo